.day {
	color: blue;
	text-align: center;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	padding: 2%;
	overflow: scroll;
}

body {
	width: 100%;
	height: 100%;
	min-width: 1100px;
}

.bodyblue {
	background: blue;
}

.bodyaccess{
	background-image: url('../images/images-bodyttla.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
	position: relative;
}

a:hover {
	color: white;
}

a {
	color: lightblue;
}

.submit a:hover {
	color: black;
}

@font-face {
    font-family: "sansation";
    src: url('../fonts/fonts-Sansation_Bold_Italic.ttf') format("truetype");
}

.splash {
	background: url(../images/images-splash.jpg) no-repeat center center fixed;
	background-color: black;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.button img {
	width: 20%;
	margin-top: 40%;
	border-radius: 25px;
	border: 5px solid blue;
	padding: 5px;
	attachment: fixed;
}

.button img:hover {
	border: 5px solid white;
}

#credit {
	font-size: 12px;
	position: absolute;
	bottom:0;
	left:5px;
}

.banner {
	background-color: white;
	padding: 25px 25px 25px 25px;
	border-radius:25px;
	margin-bottom: 10px;
	margin-top: 100px;
	margin-left:20px;
	margin-right:20px;
}

.banner_submit {
	background-color: white;
	padding: 25px 25px 25px 25px;
	margin-bottom: 10px;
	margin-top: 100px;
	margin-left:20px;
	margin-right:20px;
}

.banner_ttla {
	background-color: black;
	padding: 15px;
	margin-bottom: 10px;
	margin-top: 100px;
	margin-left:20px;
	margin-right:20px;
	border-style: solid;
	border-width: 20px;
  -webkit-border-image: url(../images/images-ttlaborder.png) 7% round; /* Safari 3.1-5 */
  -o-border-image: url(../images/images-ttlaborder.png) 7% round; /* Opera 11-12.1 */
  border-image: url(../images/images-ttlaborder.png) 7% round;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
}

#navwrap, #more_nav_menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
	}


.nav {
	border-radius:25px;
	list-style: none;
	padding:0;
	font:14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	overflow: hidden;
	background-color: orange;
	float: none;
}

.nav li a {
	display: block;
	color: blue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav li a.active {
	color: orange;
	background-color: midnightblue;
}

.nav > li:nth-child(2) a {
	height: 44px;
	color: black;
	background-color: white;
	border: 3px solid black;
	padding: 10px 16px;
	font-family: avenir;
	font-size: 15px;
	font-weight: bold;
	box-sizing: border-box;
}

.nav > li:nth-child(2) a:hover {
	color: white;
	background-color: black;
}

.nav > li:nth-child(3) a {
	height: 44px;
	background-color: black;
	border: 3px solid gold;
	padding: 10px 16px;
	box-sizing: border-box;
}

.nav > li:nth-child(3) a:hover {
	color: black;
	background-color: white;
}

.nav > li:nth-child(3) a img:hover {
	color: black;
	background-color: white;
}

#house {
	display: block;
	height: 16px;
	padding-left: 23px;
	padding-right: 21px;
}

.nav li a img:hover{
	background-color: midnightblue;
}

.nav li a:hover {
	color: orange;
	background-color: midnightblue;
}

#more_nav {
	display: none;
}

#more_nav_menu {
	display: none;
}

.nav li, .nav_submit li, .nav_ttla li {
	border-right: 1px solid #bbb;
	float: left;
}


#nav_right{
	float: right;
	border: none;
	border-right: 1px solid #bbb;
}

#nav_right:last-child{
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

.nav_submit {
	list-style-type: none;
	padding:0;
	font-family: avenir;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background-color: white;
}

.nav_submit li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav_submit li a.active_submit {
	color: white;
	background-color: black;
}

#house_submit {
	height: 34px;
	padding-left: 23px;
	padding-right: 21px;
}

.nav_submit li a img:hover{
	background-color: black;
}

.nav_submit > li:first-child a{
	display: block;
	color: black;
	text-align: center;
	padding: 5px 10px 3px 10px;
	text-decoration: none;
}

.nav_submit li a:hover {
	color: white;
	background-color: black;
}

.nav_submit > li:nth-child(3) a {
	height: 47px;
	border: 3px solid gold;
	padding: 12px 16px;
	box-sizing: border-box;
}

.nav_ttla {
	list-style-type: none;
	padding:0;
	font-family: sansation;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	background-image: url('../images/images-goldnav.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}

.nav_ttla li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav_ttla li a.active_ttla {
	padding: 14px 16px;
	background-color: black;
}

.nav_ttla > li:nth-child(1) a {
	padding: 8px 3px 0px 3px;
}

.nav_ttla > li:nth-child(2) a {
	height: 46px;
	color: black;
	background-color: white;
	border: 3px solid black;
	padding: 12px 16px;
	font-family: avenir;
	font-size: 15px;
	font-weight: bold;
	box-sizing: border-box;
}

#house_ttla {
	height: 34px;
	padding-left: 23px;
	padding-right: 21px;
}

.nav_ttla li a:hover {
	color: white;
	background-color: black;
}

.foot {
	clear: both;
	color: blue;
	border-radius:25px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;
	font: 14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
}

.foot_submit {
	clear: both;
	color: black;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;
	font-size: 14px;
	font-weight: bold;
	font-family: avenir;
	background-color: white;
}

.foot_ttla {
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;
	font-family: sansation;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	background-image: url('../images/images-goldnav.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}

#mc_embed_signup{
	background: orange;
	color: blue;
	font: 14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	width: 42%;
	border-radius:25px;
	float: right;
	padding: 2% 6% 2% 2%;
}

#company_info {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 2%;
	overflow: scroll;
	margin: 30px 30px 0px 30px;
}

#contact {
	color: blue;
	text-align: center;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	width: 490px;
	margin-top: 30px;
}

#opps_info {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
	width: 42%;
	float: right;
}

#opps_pic{
	background: orange;
	margin-top: 30px;
	width: 46%;
	border-radius:25px;
	padding: 2% 2% 2% 2%;
}

#opps_pic img {
	width: 100%;
	border-radius: 25px;
}

#events_header {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	margin-top: 30px;
}

#ev_intro {
	margin-top: 25px;
	width: 500px;
}

#ev_pic {
	background: orange;
	margin-top: 25px;
	width: 500px;
	border-radius:25px;
	padding: 10px 5px 5px 5px;
	float: right;
}

#ev_pic img{
	width: 490px;
	border-radius: 25px;
}

#ev_upcoming{
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	margin-top: 20px;
}

.ev_up_list {
	margin-top: 25px;
	width: 48%;
float: left;
	margin-bottom: 25px;
}

.ev_up_list img {
	border-radius: 25px;
	vertical-align: middle;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.ev_up_words {
	margin-top: 111px;
	margin-bottom: 10px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	width: 44%;
	border-style: inset;
	border-collapse: blue;
	float: right;
}

hr {
	clear: both;
}

#log_main{
	text-align: center;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: red;
	overflow: scroll;
	width: auto;
	margin: 30px;
	padding: 25px 25px 25px 25px;
}

.submit {
	background-image: url('../images/images-submit.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

#submitvideo {
	width: 85%;
}

.succ_pic_r {
	background: orange;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin-top: 75px;
	float: right;
}

.succ_pic_r img {
	vertical-align: middle;
	width: 300px;
	border-radius: 50%;
	padding: 25px 25px 25px 25px;
}

.succ_bio_l {
	color: blue;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	width: 475px;
	border-radius: 25px;
	padding: 25px 25px 25px 25px;
	margin-top: 25px;
}


.succ_pic_l {
	background: orange;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin-top: 75px;
	margin-left: 88px;
}

.succ_pic_l img {
	vertical-align: middle;
	width: 300px;
	border-radius: 50%;
	padding: 25px 25px 25px 25px;
}

.succ_bio_r {
	color: blue;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	width: 475px;
	border-radius: 25px;
	padding: 25px 25px 25px 25px;
	margin-top: 25px;
	text-align:right;
	float: right;
}

.wrapper {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}


#succ_intro, #circ, #news {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
	margin-top: 30px;
}

.submitwords {
	background-color: white;
	padding: 25px;
	width: 300px;
	height: 300px;
	font-family: avenir;
	font-size: 18px;
	font-weight: bold;
}

div.submitwords{
	border-right:10px solid black;
	border-top:10px solid black;
	border-left:10px solid white;
	border-bottom:10px solid white;
	position:relative;
}

.submitwordsbottom{
	background-color: white;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
	margin-top: 30px;
	font-family: avenir;
	font-size: 18px;
	font-weight: bold;
}

#bord {
	background-color: black;
	width: 370px;
	height: 370px;
	border:10px solid white;
	position:relative;
}

#outer {
	padding: 10px;
	margin-top: 50px;
	width: 390px;
}


#submitvideo {
	margin-top: 50px;
	background-color: white;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
}

#ttlawords {
	width: 500px;
	height: 500px;
	background-image: url('../images/images-goldplate.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 500px;
}

#ttlawords p {
	font-family: sansation;
	font-size: 22px;
	font-weight: bold;
	padding: 125px;
}

#outvid {
	background-color: black;
	height: 1200px;
	background-image: url('../images/images-ttla.gif');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center, center;
	position: relative;
}

#ttlavid {
	width: 60%;
	min-width: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}

#litvid {
	border-style: solid;
	border-width: 20px;
	-webkit-border-image: url(../images/images-ttlaborder.png) 7% round; /* Safari 3.1-5 */
	-o-border-image: url(../images/images-ttlaborder.png) 7% round; /* Opera 11-12.1 */
	border-image: url(../images/images-ttlaborder.png) 7% round;
}

#ttlabottom {
	background-color: white;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
	margin-top: 30px;
	font-family: sansation;
	font-size: 18px;
	font-weight: bold;
	background-image: url('../images/images-goldnav.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}

@media (min-width: 800px) and (max-width: 1010px) {
	body {
		width: 100%;
		min-width: 0px;
	}

	.splash {
		background: url(../images/images-splashmobile.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

	#credit {
		font-size: 12px;
		left: 16px;
	}

	.button img {
		width: 40%;
		margin-top: 40%;
	}
}

@media (min-width: 600px) and (max-width: 800px) {
	body {
		width: 100%;
		min-width: 0px;
	}

	#navwrap {
		display: none;
	}

	#more_nav_menu {
		display: inline;
	}

	#nav_right {
		list-style: none;
		float: left;
	}

	.more_right {
		display: none;
	}

	#nav_right a {
		background-color: orange;
		border: none;
		color: midnightblue;
		padding: 14px 16px;
	}

	#nav_right a:hover{
		background-color: midnightblue;
		color: orange;
	}


	#more_nav:hover .more_right {
		display: inline;
	}

	#more_nav {
		display: inline;
		border-right: none;
		float: right;
		padding-right: 5px;
	}

	#more_nav:hover {
		background-color: midnightblue;
		position: fixed;
		top:0;
		left:0;
	}

	.nav li a, .nav_submit li a, .nav_ttla li a {
		padding: 14px 8px;
	}

	.nav li:nth-child(2) a {
		padding: 10px 8px;
	}

	.nav li:nth-child(3) a {
		padding: 10px 8px;
	}

	.nav_submit li:first-child a{
		padding: 5px 0px 3px 0px;
	}

	.nav_submit li:nth-child(3) a {
		padding: 10px 8px;
	}

	.nav_ttla li:first-child a{
		padding: 5px 0px 3px 0px;
	}

	.nav_ttla li:nth-child(2) a {
		padding: 10px 8px;
	}

	.nav_ttla li:nth-child(3) a {
		padding: 14px 8px;
	}


	.splash {
		background: url(../images/images-splashmobile.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

	#credit {
		font-size: 12px;
		left: 16px;
	}

	.button img {
		width: 40%;
		margin-top: 50%;
	}

	#events_header {
		padding: 10px;
		overflow: scroll;
		margin: 30px 10px 0px 10px;
	}

	#ev_pic {
		margin-top: 0px;
		width: auto;
		padding: 5px;
	}

	#ev_pic img{
		align-content: center;
		width: 100%;
		padding: 0;
		border-radius: 25px;
	}

	#ev_intro {
		margin-top: 25px;
		width: auto;
	}

	#ev_upcoming{
		text-align: center;
		border-radius:25px;
		padding: 10px;
		margin: 20px 10px 0px 10px;
	}

	.ev_up_words {
		margin-top: 0px;
		margin-bottom: 10px;
		padding: 10px;
		width: auto;
	}

	.ev_up_list {
		margin-top: 25px;
		width: auto;
		margin-bottom: 25px;
	}

	.ev_up_list img {
		margin-top: 10px;
		width: 100%;
		margin-bottom: 10px;
	}

	#outvid {
		height: 700px;
	}

	#ttlavid {
		min-width: 230px
	}
}

@media (min-width: 500px) and (max-width: 600px) {

	body {
		width: 100%;
		min-width: 0px;
	}

	.splash {
		background: url(../images/images-splashmobile.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

.button img {
		width: 40%;
			margin-top: 60%;
		}

		#navwrap {
			display: none;
		}

		#more_nav_menu {
			display: inline;
		}

		#nav_right {
			list-style: none;
			float: left;
		}

		.more_right {
			display: none;
		}

		#nav_right a {
			background-color: orange;
			border: none;
			color: midnightblue;
			padding: 14px 16px;
		}

		#nav_right a:hover{
			background-color: midnightblue;
			color: orange;
		}


		#more_nav:hover .more_right {
			display: inline;
		}

		#more_nav {
			display: inline;
			border-right: none;
			float: right;
			padding-right: 5px;
		}

		#more_nav:hover {
			background-color: midnightblue;
			position: fixed;
			top:0;
			left:0;
		}

		.nav li a, .nav_submit li a, .nav_ttla li a {
			padding: 14px 8px;
		}

		.nav li:nth-child(2) a {
			padding: 10px 8px;
		}

		.nav li:nth-child(3) a {
			padding: 10px 8px;
		}

		.nav_submit li:first-child a{
			padding: 5px 0px 3px 0px;
		}

		.nav_submit li:nth-child(3) a {
			padding: 10px 8px;
		}

		.nav_ttla li:first-child a{
			padding: 5px 0px 3px 0px;
		}

		.nav_ttla li:nth-child(2) a {
			padding: 10px 8px;
		}

		.nav_ttla li:nth-child(3) a {
			padding: 14px 8px;
		}

		#events_header {
			padding: 10px;
			overflow: scroll;
			margin: 30px 10px 0px 10px;
		}

		#ev_pic {
			margin-top: 0px;
			width: auto;
			padding: 5px;
		}

		#ev_pic img{
			align-content: center;
			width: 100%;
			padding: 0;
			border-radius: 25px;
		}

		#ev_intro {
			margin-top: 25px;
			width: auto;
		}

		#ev_upcoming{
			text-align: center;
			border-radius:25px;
			padding: 10px;
			margin: 20px 10px 0px 10px;
		}

		.ev_up_words {
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 10px;
			width: auto;
		}

		.ev_up_list {
			margin-top: 25px;
			width: auto;
			margin-bottom: 25px;
		}

		.ev_up_list img {
			margin-top: 10px;
			width: 100%;
			margin-bottom: 10px;
		}

		#outvid {
			height: 550px;
		}

		#ttlavid {
			min-width: 230px
		}
}

@media screen and (max-width: 500px){
	body {
		width: 100%;
		min-width: 0px;
	}

	#navwrap {
		display: none;
	}

	#more_nav_menu {
		display: inline;
	}

	#nav_right {
		list-style: none;
		float: left;
	}

	.more_right {
		display: none;
	}

	#nav_right a {
		background-color: orange;
		border: none;
		color: midnightblue;
		padding: 14px 16px;
		font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	}

	#nav_right a:hover{
		background-color: midnightblue;
		color: orange;
	}


	#more_nav:hover .more_right {
		display: inline;
	}

	#more_nav {
		display: inline;
		border-right: none;
		float: right;
		padding-right: 4px;
	}

	#more_nav:hover {
		background-color: midnightblue;
		position: fixed;
		top:0;
		left:0;
	}

	.nav li a, .nav_submit li a, .nav_ttla li a {
		padding: 14px 8px;
	}

	.nav li:first-child a{
		padding: 14px 0px;
	}

	.nav li:nth-child(2) a {
		padding: 10px 8px;
	}

	.nav li#nav_right:nth-child(2) a {
		font-family:14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif !important;
	}

	.nav li:nth-child(3) a {
		padding: 10px 8px;
	}

	.nav_submit li:first-child a{
		padding: 5px 0px 3px 0px;
	}

	.nav_submit li:nth-child(3) a {
		padding: 10px 8px;
	}

	.nav_ttla li:first-child a {
		padding: 5px 0px 3px 0px;
	}

	.nav_ttla li:first-child {
		padding: 0px 0px;
	}

	.nav_ttla li:nth-child(2) a {
		padding: 10px 5px;
	}

	.nav_ttla li:nth-child(3) a {
		padding: 14px 5px;
	}

	.splash {
		background: url(../images/images-splashmobile.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

	#credit {
		font-size: 8px;
		left: 16px;
		bottom: 12px;
	}

	.button img {
		width: 40%;
		margin-top: 100%;
	}

	.banner, .banner_submit, .banner_ttla {
		padding: 10px;
		margin: 70px 10px 5px 10px;
	}

	.banner_submit {
		margin-top: 90px;
	}

	.submit {
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.bodyaccess {
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-position: right center;
	}


	.foot, .foot_submit, .foot_ttla {
		margin-top: 15px;
		margin-bottom: 20px;
		padding: 10px;
		font-size: 10px;
	}

	.content {
		margin-left: 5px;
		margin-right: 5px;
	}


	#company_info {
		padding: 5%;
		font-size: 13px;
		margin: 0px 30px 5px 30px;
	}

	#succ_intro {
		padding: 5%;
		margin: 0px 20px;
		font-size: 17px;
	}

	#circ {
		margin: 30px 10px;
	}

	.wrapper {
		width: auto;
	}

	.succ_pic_r {
		width: 300px;
		height: 300px;
		margin-top: 0px;
		float: none;
		margin:0 auto;
	}

	.succ_pic_r img {
		vertical-align: middle;
		width: 250px;
		padding: 25px;
	}

	.succ_bio_l {
		width: auto;
		padding: 25px;
		margin-top: 25px;
		margin-bottom: 25px;
		float: none;
	}

	#events_header {
		padding: 10px;
		overflow: scroll;
		margin: 30px 10px 0px 10px;
	}

	#ev_pic {
		margin-top: 0px;
		width: auto;
		padding: 5px;
	}

	#ev_pic img{
		align-content: center;
		width: 100%;
		padding: 0;
		border-radius: 25px;
	}

	#ev_intro {
		margin-top: 25px;
		width: auto;
	}

	#ev_upcoming{
		text-align: center;
		border-radius:25px;
		padding: 10px;
		margin: 20px 10px 0px 10px;
	}

	.ev_up_words {
		margin-top: 0px;
		margin-bottom: 10px;
		padding: 10px;
		width: auto;
	}

	.ev_up_list {
		margin-top: 25px;
		width: auto;
		margin-bottom: 25px;
	}

	.ev_up_list img {
		margin-top: 10px;
		width: 100%;
		margin-bottom: 10px;
	}

	#contact {
		padding: 25px 25px 25px 25px;
		width: auto;
		margin-top: 10px;
	}

	#log_main{
		width: auto;
		padding: 10px;
		margin: 20px;
	}

	.submitwords {
		width: 200px;
		height: 200px;
		font-size: 13px;
	}


	#bord {
		width: 270px;
		height: 270px;
	}

	#outer {
		width: 290px;
	}

	.submitwordsbottom{
		margin-top: 30px;
		font-size: 12px;
	}

	#ttlawords {
		width: 300px;
		height: 300px;
		background-size: 350px;
	}

	#ttlawords p {
		font-size: 16px;
		font-weight: bold;
		padding: 20%;
	}

	#ttlavid {
		min-width: 230px
	}

	#outvid {
		height: 320px;
	}

	#ttlabottom {
		font-size: 15px;
	}
}
